body{
  background-color: chartreuse;
}

.App{
  background-color: darkturquoise;
  min-height: 500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input{
  background-color: deeppink;
  border:0;
  width: 150px;
  height: 50px;
  padding: 0 20px;
  margin: 20px 5px;
  color: white;
  font-size: 10px;
  border-radius: 10px;
}

#to-do-form input::placeholder{
  color: white;
}
#to-do-form input:focus, #to-do-form button:focus{
  outline: none;
}


#to-do-form button{
  height: 50px;
  width: 360px;
  border-radius: 5px;
  border: 0;
  margin: 0 20px;
  background-color: yellow;
  cursor: pointer;
  font-weight: bolder;
  color: black;

}